*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.body{
    background: white;
    overflow: hidden;
    padding-top:90px;
    font-family: Neucha, sans-serif;
    margin: 0 100px;
}

.profile-header{
    background: #C2CFB2;
    width: 100%;
    display:flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.profile-nav-info{
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info .user-name h2{
    padding-left: 15px;
    color: green;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}


.main-bd{
    width: 100%;
    display: flex;
    padding-right: 15px;

}

.profile-side{
    color: green;
    width: 200px;
    background: #C2CFB2;
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    padding: 90px 30px 20px;
    font-family: sans-serif;
    margin-left: 10px;
    z-index: 90;
    
}
.profile-side p{
    margin-bottom: 7px;
    font-size: 15px;
}

.nav {
    width: 100% auto;
    z-index: -1;
    color:white;

}

.nav ul{
   display:flex;
   justify-content: center; 
   list-style-type: none;
   height: 40px;
   background: #8DB580;
   box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li{
    padding:10px;
    width: 100%;
    cursor:pointer;
    text-align: center;
    transition: all .2x ease-in-out;
}

.nav ul li.active,
.nav ul li:hover{
    box-shadow: 0px -3px 0px #F78764 inset;

}

.profile-body{
    width: 100%;
    z-index: -1;

}

.tab{
    padding:20px;
    width: 100%;
    text-align:center;
    display: none;
}


